.page {
  width: 92.5%;
  max-width: 1184px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr calc(100% - 200px) 1fr;
  grid-template-areas:
    '. header .'
    'content content content'
    'footer footer footer';
}

@media screen and (max-width: 1024px) {
  .page {
    width: 100%;
    grid-template-columns: 1fr calc(100% - 96px) 1fr;
    grid-template-areas:
    '. header .'
    'content content content'
    '. footer .';
  }
}

@media screen and (max-width: 768px) {
  .page {
    grid-template-columns: 1fr calc(100% - 48px) 1fr;
  }
}

@media screen and (max-width: 480px) {
  .page {
    grid-template-columns: 1fr calc(100% - 32px) 1fr;
  }
}
