.intro__subtitle {
  margin: 0 0 32px;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  color: #FFFFFF;
}

@media screen and (max-width: 480px) {
  .intro__subtitle {
    line-height: 30px;
  }
}
