.cover__container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover__container::before {
  content: '';
  width: 100%;
  min-height: 100%;
  background-color: #2A2C2F;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity .2s ease-in;
  opacity: .3;
}

.cover:hover .cover__container::before {
  opacity: .8;
}
