.place__website-heading {
  margin: 0 0 12px;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #AAAAAA;
}

@media screen and (max-width: 768px) {
  .place__website-heading {
    line-height: 12px;
  }
}
