.page__footer {
  margin: 92px 0 24px;
  grid-area: footer;
}

@media screen and (max-width: 768px) {
  .page__footer {
    margin-top: 88px;
  }
}

@media screen and (max-width: 480px) {
  .page__footer {
    margin-top: 64px;
  }
}
